@charset "UTF-8";

/* Todas as demais medias */

/*

Typical Device Breakpoints
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media print { /* Versão para impressão */
Body{
    background-image:none;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

main::after{
    content: 'Esse documento foi escrito por Mateus da Silva Vilaça';
}

img#phone{ display:none;}
img#pc{ display:none;}
img#tablet{display:none;}
img#impressora{display:inline;}
img#tv{display:none;}

}

@media screen and (min-width:768px) and (max-width:992px){ /*Versão para Tablet */

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    main{
        width: 450px;
    }

    img#phone{ display:none;}
    img#pc{ display:none;}
    img#tablet{display:inline;}
    img#impressora{display:none;}
    img#tv{display:none;}

}

@media screen and (min-width:992px) and (max-width:1220px){ /*Versão para Desktop */

    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    main{
        width: 500px;
    }

    img#phone{ display:none;}
    img#pc{ display:inline;}
    img#tablet{display:none;}
    img#impressora{display:none;}
    img#tv{display:none;}

}

@media screen and (min-width:1200px) { /*Versão para grandes telas */

    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 600px;
    }

    img#phone{ display:none;}
    img#pc{ display:none;}
    img#tablet{display:none;}
    img#impressora{display:none;}
    img#tv{display:inline;}

}